<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ng4Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['/post']">Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ng4Blog</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/post']">Post</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()">
        <a class="nav-link"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
